@charset "utf-8";
/**/ 

html { font-family: Nanum; }

@font-face {
	font-family: Nanum;
	src: url('../font/NanumBarunGothic-YetHangul.ttf'), format('embedded-opentype');
}

/* 기본틀 */
.commonDIV { width:950px; margin:50px auto; }

/* 검색 버튼 */
.searchDIV { vertical-align:bottom; display:inline-block; padding:5px; }
.searchBtn { background:url('../images/common/search.png'); width:32px; height:32px; cursor:pointer; }
